Day 13

In [12]:
#filter out negative and zero
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
filtered=[number for number in numbers if number<=0]
print(filtered)

#flatten list
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
flatten_list1=[numb for row in list_of_lists for row2 in row for numb in row2]
print(flatten_list1)

[-4, -3, -2, -1, 0]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
#list of tuples
list_of_tuples=[(i,1,i,i**2,i**3,i**4,i**5) for i in range(11)]
print(list_of_tuples)

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]

In [59]:
#flatten countries
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
flattened_countries=[[country.upper(), country[:3].upper(), city.upper()] for sublist in countries for country, city in sublist]
print(flattened_countries)

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [60]:
#list to dictionary
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
countries_dict=[{'country':country.upper(),'city':city.upper()} for sublist in countries for country, city in sublist]
print(countries_dict)

[{'country': 'FINLAND', 'city': 'HELSINKI'}, {'country': 'SWEDEN', 'city': 'STOCKHOLM'}, {'country': 'NORWAY', 'city': 'OSLO'}]

In [70]:
#List of concatenated string
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
conc_string_list=[' '.join(name) for subnames in names for name in subnames]
print(conc_string_list)

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

In [71]:
#lambda function
slope= lambda x,m,b:m
print('slope',slope(2,3,4))

slope 3