Level 1

In [11]:
#for loop
for i in range(11):
    print(i)
#while loop
number=0
while number<=10:
    print(number)
    number+=1
#10 to 0
for i in range(10,-1,-1):
    print(i)
count=10
while count>=0:
    print(count)
    count-=1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0
10
9
8
7
6
5
4
3
2
1
0

print triangle and pattern

In [39]:
#triangle
for i in range(1,8):
    print('#' *i)
#nested loop
print()
for i in range(8):
    for j in range(8):
        print('#',end= '')
    print()
#multiplication pattern
for i in range(11):
    print(f"{i} x {i} = {i*i}")

#
##
###
####
#####
######
#######

########
########
########
########
########
########
########
########
0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

Q6 to 8

In [45]:
#print list
skills=['Python', 'Numpy','Pandas','Django', 'Flask']
for skill in skills:
    print(skill)
#print even numbers btwn 0 to 100
print('even numbers')
for numb in range(0,101):
    if numb%2==0:
        print(numb)
#print odd numbers btwn 0 to 100
print('odd numbers')
for numb in range(0,101):
    if numb%2!=0:
        print(numb)

Python
Numpy
Pandas
Django
Flask
even numbers
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
odd numbers
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Level 2

In [67]:
#sum of all numbers from 0 to 100
sum=0
for numb in range(101):
    sum=sum + numb
print(sum)
#sum of all even numbers 0 to 100
sum_even=0
for num in range(101):
    if num%2==0:
        sum_even=sum_even + num
print(sum_even)
#sum of all odd numbers 0 to 100
sum_odd=0
for num in range(101):
    if num%2!=0:
        sum_odd=sum_odd + num
print(sum_odd)

5050
2550
2500

Leve 3

In [2]:

#countries with land
import Data.countries
countries=Data.countries.countries
for country in countries:
    if 'land' in country:
        print(country)
#reverse fruits
fruits=['banana', 'orange', 'mango', 'lemon']
reversed_fruits=[]
index = len(fruits) - 1
while index >= 0:
    reversed_fruits.append(fruits[index])
    index -= 1
print(reversed_fruits)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand
['lemon', 'mango', 'orange', 'banana']

In [1]:

#total number of languages
import Data.countries_data
countries_data=Data.countries_data.countriesData
total_languages=set()
for country in countries_data:
    total_languages.update(country['languages'])
print(len(total_languages))
#10 most spoken languages
all_languages = []
for country in countries_data:
    for language in country["languages"]:
        all_languages.append(language)
most_spoken_languages = sorted(set(all_languages), key=lambda x: all_languages.count(x), reverse=True)[:10]
print("Ten most spoken languages:", most_spoken_languages)
#10 most populated countries
most_populated_countries = sorted(countries_data, key=lambda x: x["population"], reverse=True)[:10]
print("Ten most populated countries:")
for country in most_populated_countries:
    print(f"{country['name']} ")

112
Ten most spoken languages: ['English', 'French', 'Arabic', 'Spanish', 'Portuguese', 'Russian', 'Dutch', 'German', 'Chinese', 'Italian']
Ten most populated countries:
China
India
United States of America
Indonesia
Brazil
Pakistan
Nigeria
Bangladesh
Russian Federation
Japan